NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyC9XUd8hwlgvWtiXJcbvEszyS0TJw4G43U
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=webapp-e3266.firebaseapp.com
NEXT_PUBLIC_FIREBASE_DATABASE_URL=https://webapp-e3266-default-rtdb.asia-southeast1.firebasedatabase.app
NEXT_PUBLIC_FIREBASE_PROJECT_ID=webapp-e3266
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=webapp-e3266.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=460689591719
NEXT_PUBLIC_FIREBASE_APP_ID=1:460689591719:web:fdf9f84e9e80c808c67a82
FIREBASE_DATABASE_URL=https://webapp-e3266-default-rtdb.asia-southeast1.firebasedatabase.app
